@charset "ISO-8859-1";
html,body{
	height:100vh;
	width:100vw;
	margin:0;
	padding:0;
	
}
body{
	display:flex;
	align-items:center;
	justify-content:center;
}
form{
	display: flex;
	flex-direction:column;
	width:800px;
	padding: 10px;
	gap:30px;
	align-items:center;
	justify-content:center;
}
.container{
	 	
	background-color:#FFF5EE;
}